

@keyframes slide-from-left{
from{
        transform: translateX(-200px);
        opacity: 0.5;
        scale: 1.3;
        
    }
    to{transform: translateX(0);
    opacity: 1;
scale: 1;}
}

@keyframes slide-from-right{
    from{transform: translateX(200px);
    opacity: 0.5;
scale: 1.3;}
to{
    transform: translateX(0);
    opacity: 1;
    scale: 1;
}
}

@keyframes zoom-in{ 
    from{scale: 0.1;}
    to{scale: 1; }
}


/* services */

 .card {
  
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  position: relative;
  overflow: hidden; 
  cursor: pointer;
  transition: 0.3s ease;
}


.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}


.card1:hover::before {
  transform: scaleX(1);
}
.card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}
.card1:hover.card i{
    transform: scale(1.05) ; transition: transform 0.4s ease;
}
.card1:hover .card-link i{
    transform: translateX(5px); transition: transform 0.4s ease;
}









.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%; height: 100%;
  transition: 0.3s ease-in-out;




}
.card2-img:hover .img2{
  transform: scale(1.1); transition: transform 0.4s  ease-in-out;
}
.card2-img:hover .overlay{
  opacity: 0.75;
}
.card2-img i:hover{
  transform: scale(1.05); transition: transform 0.4s ease-in-out;
}

/* portfolio */

.list-group a:hover{text-decoration: underline;}
.portfolio-link{ 
  position: relative;
}
.portfolio-link::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
    transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;

}
.portfolio-link:hover::after,
.portfolio-link:active::after{transform: scaleX(1);}

.portfolio-btn:hover .portfolio-arrow{
  transform: translateX(5px); transition: transform 0.4s ease;
}