@keyframes slide-from-left {
  from {
    transform: translateX(-100px);
    opacity: 0.5;
    scale: 1.1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100px);
    opacity: 0.5;
    scale: 1.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
}

@keyframes zoom-in {
  from {
    scale: 0.1;
  }
  to {
    scale: 1;
  }
}

@keyframes slide-from-right2 {
  from {
    transform: translateX(20px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-from-left2 {
  from {
    transform: translateX(-20px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* hero */
.hero-btn:hover a {
  transform: translateX(5px);
  transition: transform 0.4s ease;
}
.btn-dark:hover {
  transform: translateY(-2px);
  transition: transform 0.4s ease;
}
/* services */

:root {
  --color-text: #616161;
  --color-text-btn: #ffffff;
  --card1-gradient-color1: #f12711;
  --card1-gradient-color2: #f5af19;
  --card2-gradient-color1: #7f00ff;
  --card2-gradient-color2: #e100ff;
  --card3-gradient-color1: #3f2b96;
  --card3-gradient-color2: #a8c0ff;
  --card4-gradient-color1: #11998e;
  --card4-gradient-color2: #38ef7d;
}
.services {
  flex-wrap: wrap;
  gap: 30px;
}
.card1 {
  height: 90%;
  width: 250px;
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  color: var(--color-text);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card1:hover {
  transform: scale(1.07);
  transition: 0.4s ease;
}
.header-all {
  height: 200px;
  width: 100%;

  display: grid;
  place-items: center;
}

.card1:hover .card-link i {
  transform: translateX(5px);
  transition: transform 0.4s ease;
}

.card1 a {
  border: none;
  border-radius: 100px;
  padding: 5px 15px;
}
.header1 {
  background: linear-gradient(
    to bottom left,
    var(--card1-gradient-color1),
    var(--card1-gradient-color2)
  );
}
.header2 {
  background: linear-gradient(
    to bottom left,
    var(--card2-gradient-color1),
    var(--card2-gradient-color2)
  );
}
.header3 {
  background: linear-gradient(
    to bottom left,
    var(--card3-gradient-color1),
    var(--card3-gradient-color2)
  );
}
.header4 {
  background: linear-gradient(
    to bottom left,
    var(--card4-gradient-color1),
    var(--card4-gradient-color2)
  );
}

.one {
  background: linear-gradient(
    to left,
    var(--card1-gradient-color1),
    var(--card1-gradient-color2)
  );
}
.two {
  background: linear-gradient(
    to left,
    var(--card2-gradient-color1),
    var(--card2-gradient-color2)
  );
}
.three {
  background: linear-gradient(
    to left,
    var(--card3-gradient-color1),
    var(--card3-gradient-color2)
  );
}
.four , .fa-beat{
  background: linear-gradient(
    to left,
    var(--card4-gradient-color1),
    var(--card4-gradient-color2)
  );
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.card2-img:hover .img2 {
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}
.card2-img:hover .overlay {
  opacity: 0.75;
}
.card2-img i:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
}

/* portfolio */

.list-group a:hover {
  text-decoration: underline;
}
.portfolio-link {
  position: relative;
}
.portfolio-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
.portfolio-link:hover::after,
.portfolio-link:active::after {
  transform: scaleX(1);
}

.portfolio-btn:hover .portfolio-arrow {
  transform: translateX(5px);
  transition: transform 0.4s ease;
}

/* team */

.card-img-top {
  filter: grayscale(100%);
  overflow: hidden;
}
.card3:hover .card-img-top {
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
.card3 i:hover {
  background: black;
  color: white;
}

/* testimonials */

.card4 {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-color: black;

  cursor: grab;

  border-radius: 50% 10% 50% 10%/10% 50% 10% 50%;
  box-shadow: 5px 5px 25px #119923;
}

.card4:hover img {
  transform: translateZ(0) scale(1.05);
  transition: transform 0.3s ease;
}

.card4:hover {
  box-shadow: 15px 15px 35px #06e624;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 10% 50% 10% 50%/ 50% 10% 50% 10%;
}

.team-container {
  background: black;
}

.arrow-btns {
  transform: translateX(90%);
}
/* footer */
.f-iconshover{
  color: white; border-color: white;
  
}
