

@keyframes slide-from-left{
from{
        transform: translateX(-200px);
        opacity: 0.5;
        scale: 1.3;
        
    }
    to{transform: translateX(0);
    opacity: 1;
scale: 1;}
}

@keyframes slide-from-right{
    from{transform: translateX(200px);
    opacity: 0.5;
scale: 1.3;}
to{
    transform: translateX(0);
    opacity: 1;
    scale: 1;
}
}

@keyframes zoom-in{ 
    from{scale: 0.1;}
    to{scale: 1;}
}